.new-featured-collection-wrapper {
    background-color: #e8e3de;
    padding: 32px;
}

.new-featured-collection-content {
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-gap: 40px;
    align-items: center;
   
}

.new-featured-collection__item-wrapper {
    display: flex;
}

.new-featured-collection__title {
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 1px;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.new-featured-collection__inner {
    background-color: #fc84f1;
    padding: 20px;
}

.new-featured-collection__image {
    position: relative;
    
}

.image-wrapper {
    width: 100%;
    height: 100%;
}

.new-featured-collection__image-button {
    margin: 0px;
    margin-top: 10px;
    background: #4a49fe;
    border: 1.5px solid #4a49fe;
    color: #fff;
    font-size: 11px;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: 1em;
    height: auto;
    text-decoration: none!important;
    cursor: pointer;
    padding: 1.5em 25px;
    vertical-align: middle;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
    font-weight: 500;
    letter-spacing: .08em;
    text-transform: uppercase;
    -webkit-tap-highlight-color: transparent;
}

.new-featured-collection__item-wrapper {
    overflow: auto;
    padding: 20px 0 32px;
}

.new-featured-collection__grid {
    display: grid;
    grid-gap: 16px;
    grid-auto-columns: 350px;
    margin: 0 auto;
    width: fit-content;
}

.new-featured-collection__item {
    display: grid;
    grid-row: 1;
    position: relative;
    grid-template-columns: 50px 1fr;
    padding-left: 16px;
    grid-gap: 16px;
}

.item-image {
    max-width: 100%;
    height: auto;
}

.item-text__heading {
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    margin: 0px;
    padding: 0px;
    color: #000000;
}

.item-text__description p {
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0em;
    padding: 0px;
    margin: 0px;
    margin-bottom: 16px;
    color: #000000;
}

.item-text__button {
    font-size: 11px;
    font-weight: 500;
    line-height: 11px;
    letter-spacing: 0.8799999952316284px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    padding: 0.9em 20px;
    background: #ebebeb;
    border-color: #ebebeb;
}

.item-text__button:hover {
    border-color: #4a49fe;
    background: #4a49fe;
    color: #ffffff;
}

.new-featured-collection__item-wrapper::-webkit-scrollbar {
    height: 3px;
}
.new-featured-collection__item-wrapper::-webkit-scrollbar-track {
    background-color: #dedede;
}
.new-featured-collection__item-wrapper::-webkit-scrollbar-thumb {
    background-color: #979797;
}

@media (min-width:768px) {
    .new-featured-collection__item-wrapper {
        padding-bottom: 48px;
    }

    .new-featured-collection__grid {
        grid-gap: 32px;
        grid-auto-columns: 450px;
    }

    .new-featured-collection__item {
        border-left: 3px solid #ffffff;
        padding-left: 32px;
        grid-gap: 32px;
    }
}


